.nav{
    background-color: black;
    height: 3rem;
}
.li{
    color: aliceblue;
    font-size: 2rem;
    text-decoration: none;
    list-style: none;
    margin-right: 30px;

}
.ul{
    display: flex;
    justify-content: space-between;
}
.div{
    display: flex;

}