.nav{
    background-color: black;
    height: 3rem;
}
.li{
    color: aliceblue;
    font-size: 2rem;
    text-decoration: none;
    list-style: none;
    margin-right: 30px;

}
.ul{
    display: flex;
    justify-content: space-between;
}
.div{
    display: flex;

}

.themebutton{
    border: 2px solid black;
    border-radius: 1rem;
    width:5.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 2px;
    background-color: black;
}
.light{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 2px;
    background-color: white;
    color: white;
}

.darknav{
    background-color: white;
    height: 3rem;
}
.darkli{
    color: black;
    font-size: 2rem;
    text-decoration: none;
    list-style: none;
    margin-right: 30px;

}
.darkthemebutton{
    border: 2px solid white;
    border-radius: 1rem;
    width:5.5rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.darkdark{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 2px;
    background-color: black;
    border: 2px solid white;
}