.div{
    border: 2px solid black;
    border-radius: 1rem;
    width: 27rem;
    margin: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.p{
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.edit{
    height: 2.8rem;
    width: 4rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(15, 175, 15);


}
.delete{
    height: 2.8rem;
    width: 4rem; 
    border: 2px solid white; 
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(165, 37, 37);
}